<div class="row">
  <div class="col-md-4">
  	<h3 class="">Hardware</h3>
  	<ul class="list-group">
		<a href="http://www.arduino.cc/en/Main/ArduinoBoardUno" class="list-group-item">Arduino Uno</a>
		<a href="https://www.adafruit.com/products/385" class="list-group-item">DHT22 <p class="">Temperature and humidity sensor</p></a>
		<a href="https://www.sparkfun.com/products/10988" class="list-group-item">TMP36 <p class="">Temperature sensor</p></a>
	</ul>
  </div>
  <div class="col-md-4">
  	<h3 class="">Code</h3>
  		<ul class="list-group">
		<a href="" class="list-group-item">Arduino code</a>
		<a href="" class="list-group-item">Arduino libraries</a>
		<a href="" class="list-group-item">This app</a>
	</ul>
  </div>
  <div class="col-md-4">
  	<h3>More..</h3>
  </div>
</div>
